html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  min-height: 500px;
  text-align: center;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 3em;
  padding-top: 1em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.125em;
}

footer {
  position: static;
  bottom: 0;
  padding: 1em 2em;
}

.goal-input {
  height: 50px;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 2em;
  font-weight: 300;
  margin: 1em 0;
  padding: 0;
}

.goal-input-sm {
  border: none;
  font-size: 1.4em;
  height: 1.4em;
}

.goal-item {
  padding-bottom: 10px;
}

.goal-title {
  font-size: 1.4em;
  padding-right: 10px;
}

.goal-edit {
  display: inline-block;
}
