/*
font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 3em;
  margin: 20px;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

footer {
  position: static;
  bottom: 0;
  padding: 1em 2em;
}

#container {
  margin: 0 auto;
  max-width: 1200px;
}

#goal-hed {
  margin: 1em 0;
}

#goal-form {
  max-width: 1200px;
}

#goal-input {
  height: 50px;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 30px;
  font-weight: 300;
  margin: 3em 0;
  padding: 0;
}

#goal-form:active,
#goal-form:focus {
  outline: 0;
}

#goal-btn {
  background-color: #eef;
  font-size: 14px;
}

#goal-list {
  margin: 3em 0;
}

.container-fluid {
  min-height: 600px;
}
